<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean class="com.sachin.di.autowired.Address" id="add">
        
        
        <property name="city" value="ktm"></property>
        <property name="pincode" value="101"></property>
        </bean>
        
        
        
        <bean class="com.sachin.di.autowired.Employee" name="em" autowire="byType">
        
       <property name="name" value="sachin"></property>
        <property name="id" value="101"></property>
        
        </bean>
        
 </beans>